<%
  title = 'Compra, venda, perícia, avaliação e legalização de imóveis.'

  content_for :title,       'Selma Santos Corretora de Imóveis'
  content_for :description, title
  content_for :og_image,    'companies/selmaimobiliaria/logo.png'
%>
<header class="company">
  <div class="container">
    <%= link_to '« Voltar ao Catálogo', back_to_catalog_url, title: 'Voltar ao catálogo', class: 'back-to-catalog' %>
    <h2>Selma Santos Corretora de Imóveis</h2>
    <%= render 'addthis' %>
  </div>
</header>
<div class="container company main-content">
	<%= render 'companies/selmaimobiliaria/sidebar' %>
  <section>
    <article class="cover">
      <%= image_tag('companies/selmaimobiliaria/cover-1.png', alt: title) %>
    </article>
    <article class="text">
      <h3>A Empresa</h3>
      <p>
        Descrição da empresa...
      </p>
    </article>
  </section>
</div>