<header class="company">
  <div class="container">
    <a href="javascript:void(0)"><span>« Voltar</span> ao Catálogo</a>
    <h2>Planeta Terra</h2>
  </div>
</header>
<div class="container company main-content">
	<%= render 'company/planeta-terra/sidebar' %>
</div>