.search-results {
    list-style: none;
    margin: -10px;

    li {
        display: inline-block;
        margin: 10px;
        border: 3px solid #999;
        padding: 6px 5px;
        width: 288px;
        height: 110px;
        color: #666;

        &.plus {
            border: 3px solid #333;
            color: #333; }

        p {
            &.name {
                font-size: 1.3em;
                font-weight: bold;
                text-shadow: 1px 1px 1px #ccc; }

            &.phone, &.address {
                font-size: .9em; }

            &.tags {
                font-size: .8em; }}}}