<%
  content_for :title, 'Sábia decisão :D'
  content_for :body_attributes, ' class="new-lead"'.html_safe
%>
<header class="lead"></header>
<div class="container lead main-content">
  <hgroup>
    <h2>Sábia decisão :D</h2>
    <h3>Iremos entrar em contato com você para tirar<br />todas as suas dúvidas sobre nosso catálogo.</h3>
    <h4>Enquanto isso, assista a um vídeo<br />incrível que separamos para você.</h4>
    <%= link_to 'Quero assistir agora!', 'http://www.youtube.com/watch?v=XRCIzZHpFtY', title: 'Assistir ao vídeo no Youtube', class: 'call-to-action' %>
  </hgroup>
</div>
