<header class="company">
  <div class="container">
    <%= link_to '« Voltar ao Catálogo', back_to_catalog_url, title: 'Voltar ao catálogo', class: 'back-to-catalog' %>
    <h2>Selma Santos Imóveis</h2>
    <%= render 'addthis' %>
  </div>
</header>
<div class="container company main-content">
	<%= render 'companies/selma-santos-imoveis/sidebar' %>
</div>