/*
 *= require reset
 *= require_self
 *= require company.index
 */

html, body {
  height: 100%;
}

body {
  background-image: url('layout/background_body.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

a, a:active, a:visited, a:hover {
  font-weight: bold;
  color: #FFF;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  position: relative;
  min-height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

header, footer {
  text-shadow: 1px 1px 2px #000;
}

header.main {
  background: #FFF url('layout/background_header.jpg') no-repeat center top;
  border-top: 5px solid #333;
}

header.main > div {
  height: 55px;
}

header.main .logo {
  position: absolute;
  top: 9px;
}

nav ul {
  position: absolute;
  top: 18px;
  right: -5px;
}

nav li {
  display: inline-block;
  padding: 0 15px;
}

.search {
  background: #FFF url('layout/background_body_header.png') repeat-x;
  height: 143px;
}

.search h3 {
  padding: 27px 0 8px;
  width: 690px;
  font-size: 1.8em;
  color: #FFF;
}

/* Twitter Bootstrap */
.search input[type=text] {
  float: left;
  padding: 10px;
  width: 570px;
  height: 18px;
  font-family: inherit;
  font-size: 1.3em;
  color: inherit;

  border: 1px solid #CCC;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
      -ms-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;
}

.search input[type=text]:focus {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  outline: thin dotted \9; /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
}

.search .add-on {
  display: inline-block;
  padding: 4px 8px;
  width: 27px;
  height: 30px;
  text-shadow: 0 1px 0 #FFF;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}
/* End */

.addthis {
    display: none;
    position: absolute;
    right: 10px;
    top: 40px;
}

.addthis p {
    margin-left: 2px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #FFF;
}

.main-content {
    padding: 15px 10px 70px;
}

.main-content a,
.main-content a:active,
.main-content a:visited,
.main-content a:hover {
  color: #333;
}


footer {
  background: #FFF url('layout/background_footer.png') repeat-x;
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 55px;
}

footer .logo {
  position: absolute;
  top: 15px;
}

.who {
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: .8em;
}