/*= require reset
 *= require_self
 *= require jquery-lionbars
 *= require fancybox
 *= require company.index
 *= require company.show */

html, body {
  height: 100%;
}

body {
  background-image: url('layout/background_body.png');
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
}

a,
a:active,
a:visited,
a:hover {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-container {
  position: relative;
  min-height: 100%;
}

.container {
  position: relative;
  margin: 0 auto;
  padding: 0 10px;
  width: 960px;
}

header, footer {
  color: #FFF;
  text-shadow: 1px 1px 2px #000;
}

header.main {
  background: #FFF url('layout/background_header.jpg') no-repeat center top;
  border-top: 5px solid #333;
}

header.main > div {
  height: 55px;
}

header.main .logo {
  position: absolute;
  top: 9px;
}

nav ul {
  position: absolute;
  top: 18px;
  right: -5px;
}

nav li {
  display: inline-block;
  padding: 0 15px;
}

.addthis {
  display: none;
  position: absolute;
  right: 10px;
  top: 40px;
}

.addthis p {
  margin: 0 0 5px 2px;
}

.main-content {
  padding: 15px 10px 70px;
}

.main-content a,
.main-content a:active,
.main-content a:visited,
.main-content a:hover {
  color: #333;
}

footer {
  background: #FFF url('layout/background_footer.png') repeat-x;
  position: absolute;
  bottom: 0;
  padding: 0;
  width: 100%;
  height: 55px;
}

footer .logo {
  position: absolute;
  top: 15px;
}

.who {
  position: absolute;
  right: 10px;
  top: 23px;
  font-size: .8em;
}