header.search {
  background: url('layout/background_header_search.png') repeat-x;
  height: 143px;
}

header.search h2 {
  padding: 27px 0 8px;
  width: 600px;
  height: 29px;
  font-size: 1.8em;
}

header.search input[type=text] {
  float: left;
  padding: 10px;
  width: 570px;
  height: 18px;
  font-size: 1.3em;

  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
}

#companies-count {
  background: #F9F9F9 url('layout/background_body.png');
  margin: -5px 2px 20px 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
     -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
          box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  font-size: 1.2em;
}

.pagination {
  margin: 10px 0;
  font-size: 1.1em;
}

.pagination span {
  display: inline-block;
  padding: 0 5px;
}

.pagination .current {
  font-weight: bold;
}

.pagination a {
  text-decoration: underline;
}

.pagination a:hover {
  text-decoration: none;
}

#search-results {
  list-style: none;
  margin: -10px;
}

#search-results:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  zoom: 1;
}

.result {
  position: relative;
  float: left;
  margin: 10px;
  width: 306px;
  height: 128px;
}

.result .data {
  background-color: #FFF;
  border: 2px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 7px 6px;
  width: 290px;
  height: 110px;
  -webkit-box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
     -moz-box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
          box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
  color: #666;
  overflow: hidden;
}

.highlight .data {
  background: #FFF url('layout/background_search_result.png') no-repeat center -50px;
  border-color: #333;
  -webkit-box-shadow: 1px 1px 5px rgba(100, 100, 100, 1);
     -moz-box-shadow: 1px 1px 5px rgba(100, 100, 100, 1);
          box-shadow: 1px 1px 5px rgba(100, 100, 100, 1);
}

.see-details {
  display: block;
  position: absolute;
  top: -2px;
  right: 8px;
  z-index: 1;
}

.result p {
  margin-bottom: 4px;
  width: 280px;
  font-weight: bold;
}

.result p.name {
  margin-bottom: 8px;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #ccc;
}

.result p.phone,
.result p.address {
  font-size: 1em;
}

.result p.tags {
  font-size: .9em;
  font-weight: normal;
}

#none-companies {
  background: url('icons/not_found.png') no-repeat left 7px;
  margin: 30px 10px;
  padding-left: 150px;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
}

#none-companies p.title {
  margin-bottom: 20px;
  font-size: 2.2em;
  font-weight: bold;
}

#none-companies p.instructions {
  width: 600px;
  font-size: 1.3em;
  line-height: 1.7em;
}