header.search {
  background: url('layout/background_header_search.png') repeat-x;
  height: 143px;
}

header.search h2 {
  padding: 27px 0 8px;
  width: 600px;
  height: 29px;
  font-size: 1.8em;
}

/* Twitter Bootstrap */
header.search input[type=text] {
  float: left;
  padding: 10px;
  width: 570px;
  height: 18px;
  font-family: inherit;
  font-size: 1.3em;
  color: inherit;

  border: 1px solid #CCC;
  -webkit-border-radius: 3px 0 0 3px;
     -moz-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
     -moz-transition: border linear .2s, box-shadow linear .2s;
      -ms-transition: border linear .2s, box-shadow linear .2s;
       -o-transition: border linear .2s, box-shadow linear .2s;
          transition: border linear .2s, box-shadow linear .2s;
}

header.search input[type=text]:focus {
  border-color: rgba(82,168,236,.8);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
     -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.1), 0 0 8px rgba(82,168,236,.6);
}

header.search .add-on {
  display: inline-block;
  padding: 4px 8px;
  width: 27px;
  height: 30px;
  text-shadow: 0 1px 0 #FFF;
  background-color: #F5F5F5;
  border: 1px solid #CCC;
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}
/* End */

#companies-count {
  background: #F9F9F9 url('layout/background_body.png');
  margin: -5px 2px 20px 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 15px;
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
     -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.5);
          box-shadow: inset 0 0 10px rgba(0,0,0,.5);
  font-size: 1.2em;
}

#search-results {
  list-style: none;
  margin: -10px;
}

.result {
  position: relative;
  float: left;
  margin: 10px;
  width: 306px;
  height: 128px;
}

.result .data {
  background-color: #FFF;
  border: 2px solid #999;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  padding: 7px 6px;
  width: 290px;
  height: 110px;
  -webkit-box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
     -moz-box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
          box-shadow: 1px 1px 5px rgba(100, 100, 100, .5);
  color: #666;
  overflow: hidden;
}

.result p {
  margin-bottom: 4px;
  font-weight: bold;
}

.result p.name {
  margin-bottom: 8px;
  font-size: 1.3em;
  text-shadow: 1px 1px 1px #ccc;
}

.result p.phone, .result p.address {
  font-size: 1em;
}

.result p.tags {
  font-size: .9em;
  font-weight: normal;
}

#none-companies {
  background: url('icons/not_found.png') no-repeat left 7px;
  margin: 30px 10px;
  padding-left: 150px;
  color: #333;
  text-shadow: 1px 1px 1px #ccc;
}

#none-companies p.title {
  margin-bottom: 20px;
  font-size: 2.2em;
  font-weight: bold;
}

#none-companies p.instructions {
  width: 600px;
  font-size: 1.3em;
  line-height: 1.7em;
}

#none-companies a {
  border-bottom: 1px dotted;
  padding-bottom: 0;
}

#none-companies a:hover {
  border-bottom: none;
  padding-bottom: 1px;
}