body.new-lead {
  background: url('layout/background_new_lead.jpg') no-repeat left 60px;
}

.header-lead {
  background: url('layout/background_header_lead.png') repeat-x;
  height: 6px;
}

.lead .call-to-action {
  position: relative;
  background: transparent url('layout/new_lead_call_to_action.png');
  margin-bottom: 0;
  border: none;
  width: 285px;
  height: 50px;
  color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
}

.lead .call-to-action:hover {
  background-position: left -50px;
  cursor: pointer;
}

.lead .call-to-action:active {
  background-position: left -100px;
  outline: none;
  top: 1px;
  left: 1px;
  text-shadow: none;
}

.lead hgroup {
  background: url('layout/background_transparent_000_35.png');
  margin: 50px 0 30px -500px;
  padding: 20px;
  color: #FFF;
  font-family: 'Bariol', 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: right;
  text-shadow: 1px 1px 2px #000;
}

.lead h2 {
  margin-bottom: 25px;
  font-size: 5.5em;
  line-height: 1em;
}

.lead h3 {
  margin-bottom: 25px;
  font-size: 3em;
}

.lead h4 {
  font-size: 2em;
}

.lead h5 {
  position: absolute;
}

.lead form {
  background: url('layout/background_transparent_000_70.png');
  margin: 100px 0 30px 20px;
  padding-top: 70px;
  color: #FFF;
}

.lead fieldset {
  border: none;
}

.lead div {
  display: inline-block;
  vertical-align: top;
}

.fields {
  margin: 0 60px 40px;
}

.fields label,
.fields input {
  display: block;
}

.fields label {
  margin-top: 20px;
}

.fields label:first-child {
  margin-top: 0;
}

.fields input[type=text] {
  margin-left: 1px;
  width: 268px;
}

.fields small {
  position: absolute;
  font-weight: bold;
  color: #F66;
}
.fields .call-to-action {
  margin-top: 25px;
}

.disclaimer {
  width: 490px;
}

.disclaimer h6 {
  font-size: 1.5em;
}

.disclaimer p {
  margin: 15px 0;
  line-height: 1.6em;
}

.disclaimer a,
.disclaimer a:active,
.disclaimer a:visited,
.disclaimer a:hover {
  color: #FFF;
}

.lead a.call-to-action {
  margin-top: 25px;
  padding-top: 12px;
  height: 38px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.lead a.call-to-action,
.lead a.call-to-action:active,
.lead a.call-to-action:visited,
.lead a.call-to-action:hover {
  color: #FFF;
  text-decoration: none;
}