body.new-lead {
  background: url('layout/background_new_lead.jpg') no-repeat left 60px;
}

.header-lead {
  background: url('layout/background_header_lead.png') repeat-x;
  height: 6px;
}

.lead hgroup {
  background: url('layout/background_transparent_000_35.png');
  margin-left: -500px;
  padding: 15px;
  color: #FFF;
}

.lead h2,
.lead h3,
.lead h4 {
  text-align: right;
}

.lead h4 {
  padding: 15px;
}

.lead fieldset {
  background: url('layout/background_transparent_000_70.png');
  margin-left: 80px;
  border: none;
  color: #FFF;
}

.lead legend {
  position: relative;
  top: -20px;
  left: -80px;
}

.lead div {
  display: inline-block;
  vertical-align: top;
}

.lead input {
  display: block;
}