body.new-lead {
  background: url('layout/background_new_lead.jpg') no-repeat left 60px;
}

.header-lead {
  background: url('layout/background_header_lead.png') repeat-x;
  height: 6px;
}

.lead hgroup {
  background: url('layout/background_transparent_000_35.png');
  margin-left: -500px;
  padding: 15px;
  color: #FFF;
}

.lead h2,
.lead h3,
.lead h4 {
  text-align: right;
}

.lead h4 {
  padding: 15px;
}

.lead fieldset {
  background: url('layout/background_transparent_000_70.png');
  margin-left: 13px;
  border: none;
  color: #FFF;
}

.lead legend {
  position: relative;
  left: -20px;
}

.lead div {
  display: inline-block;
  vertical-align: top;
}

.fields {
  margin: 0 50px;
}

.lead input {
  display: block;
  margin: 30px 0;
}

.lead input:first-child {
  margin-top: 4px;
}

.lead input[type=text] {
  margin-left: 1px;
  width: 268px;
}

.lead input[type=submit] {
  position: relative;
  background: transparent url('layout/new_lead_call_to_action.png');
  border: none;
  width: 285px;
  height: 50px;
  color: #FFF;
  font-size: 1.4em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
}

.lead input[type=submit]:hover {
  background-position: left -50px;
  cursor: pointer;
}

.lead input[type=submit]:active {
  background-position: left -100px;
  outline: none;
  top: 1px;
  left: 1px;
  text-shadow: none;
}

.disclaimer {
  width: 490px;
}

.disclaimer h5 {
  font-size: 1.5em;
}

.disclaimer p {
  margin: 15px 0;
  line-height: 1.6em;
}

.disclaimer a,
.disclaimer a:active,
.disclaimer a:visited,
.disclaimer a:hover {
  color: #FFF;
}