html, body, div, span, h1, h2, h3, h4, h5, h6, p, fieldset, form, label, legend, ul, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
address {	font-style: normal; }
img {	border:none; }
