section.advertise
    div.container
        div.reasons.pull-left
            h2 Sua Empresa na Internet
            ul
                li == '<strong>Você mesmo</strong> publica e atualiza seus produtos e serviços de forma <strong>rápida e elegante</strong>.'
                li == 'Isso e muito mais por apenas <strong class="price">R$<span class="integer">24</span><span class="decimal">,90</span></strong> por mês, além de ganhar <strong class="price">30 DIAS GRÁTIS</strong> para experimentar.'
            a.s-alternative-button href='#' title='Saiba mais sobre o serviço' SAIBA MAIS
            a.s-action-button href='#' title='Experimente grátis por 30 dias' EXPERIMENTE GRÁTIS »
        a.pull-right href='javascript:void(0)' title='Assista ao vídeo que preparamos para você' data-controls-modal='advertise-video' data-backdrop='true' data-keyboard='true' = image_tag('advertise_video.png', alt: 'Vídeo no Youtube')